@font-face {
  font-family: 'Manrope';
  src: url(/Manrope.ttf);
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-variation-settings: var(--fontVariationNormal);
  height: 100%;
  margin: 0;
  padding: 0;
}
