@use "sass:color";

// $smoky-black: #211103ff;
// $black-bean: #3d1308ff;
// $burgundy: #7b0d1eff;
// $big-dip-oruby: #9f2042ff;
// $lavender-blush: #f8e5eeff;

$colors: (
  "primary": #2f97c1,
  "secondary": #1ccad8,
  "background": #edeff5,
  "white": #ffffff,
  "black": #000000,
  "grey": #ccccdd,
);

$spacing: (
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "6": 24px,
  "7": 28px,
  "8": 32px,
);

$fontSizes: (
  "1": 0.75rem,
  "2": 0.875rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 2rem,
);

$fontVariations: (
  "Normal": '"wght" 400',
  "Medium": '"wght" 500',
  "Bold": '"wght" 600',
  "ExtraBold": '"wght" 800',
);

$transitions: (
  "Fast": all 100ms ease,
  "Normal": all 200ms ease,
  "Slow": all 400ms ease,
);

:root {
  @each $colorName, $colorValue in $colors {
    --#{$colorName}: #{$colorValue};
    --#{$colorName}Spread: #{color.red($colorValue)}, #{color.green($colorValue)}, #{color.blue($colorValue)};
  }

  @each $spacingName, $spacingValue in $spacing {
    --spacing#{$spacingName}: #{$spacingValue};
  }

  @each $fontSizeName, $fontSizeValue in $fontSizes {
    --fontSize#{$fontSizeName}: #{$fontSizeValue};
  }

  @each $fontVariationName, $fontVariationValue in $fontVariations {
    --fontVariation#{$fontVariationName}: #{$fontVariationValue};
  }

  @each $transitionName, $transitionValue in $transitions {
    --transition#{$transitionName}: #{$transitionValue};
  }
}
